@mixin border-radius($radius) {
-webkit-border-radius: $radius;
   -moz-border-radius: $radius;
        border-radius: $radius;
}
@mixin background-size($size) {
-webkit-background-size: $size;
   -moz-background-size: $size;
     -o-background-size: $size;
        background-size: $size;
}
@mixin box-shadow($color, $horizontal, $vertical, $blur:0, $spread:0) {
-webkit-box-shadow: $horizontal $vertical $blur $spread $color;
   -moz-box-shadow: $horizontal $vertical $blur $spread $color;
        box-shadow: $horizontal $vertical $blur $spread $color;
}
@mixin box-sizing($sizing) {
-webkit-box-sizing: $sizing;
   -moz-box-sizing: $sizing;
        box-sizing: $sizing;
}